:root {
    --color-1: #121212;
    --color-2: #586F7C;
    --text-color: #F4F4F9;
    --accent-color: #8D99AE;
    font-family: 'BoldPixels';
}

@font-face {
font-family: 'BoldPixels';
src: url('BoldPixels.ttf') fomrat("truetype");
font-weight: normal;
font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-size: 12pt;
}


body {
    color: var(--text-color);
    font-weight: lighter;
    text-align: center;
    background-color: var(--color-1);
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fade-in-main {
    opacity: 0;
    animation: fadeIn 0.75s ease-out forwards;
}


.logo {
    font-family: 'BoldPixels';
    font-size: 100px;
    color: var(--text-color);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    opacity: 0.75;
}

.logo:hover {
    opacity: 1;
}

.link {
    font-family: 'BoldPixels';
    font-size: 50px;
    text-decoration: none;
    color: var(--text-color);

    
    opacity: 0.3;
}

.link:hover {
    opacity: 0.75;
}


.aboutme {
    font-size: 3rem;
}


