:root {
    --color-1: #121212;
    --color-2: #586F7C;
    --text-color: #F4F4F9;
    --accent-color: #8D99AE;
    font-family: 'BoldPixels';

}

@font-face {
font-family: '../BoldPixels';
src: url('BoldPixels.ttf') fomrat("truetype");
font-weight: normal;
font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-size: 12pt;
    margin-top: auto;
    margin-bottom: auto;
}


body {
    color: var(--text-color);
    font-weight: lighter;
    text-align: center;
    background-color: var(--color-1);
}




.title {
    font-size: 20rem;
    vertical-align: middle;
}

.description {
    vertical-align: top;
    font-size: 3rem;
    vertical-align: middle;
}

.description a {
    text-decoration: none;
    color: var(--color-2);

}
